/* Color */
.main-color {
    background-color: #eef4ed;
}

.color-dark {
    background-color: #0b2545;
}

/* Font */
.header-font {
    font-family: "Righteous", cursive;
    color: #eef4ed;
    font-size: 40pt;
}

.font {
    font-family: "Righteous", cursive;
    color: #eef4ed;
}

.upper-font a {
    text-transform: uppercase;
}

.bold-font a {
    font-weight: bold;
}

.dark-font {
    font-family: "Righteous", cursive;
    color: #0b2545;
}

.dark-font h3 {
    font-family: "Righteous", cursive;
    color: #0b2545;
    font-size: 30pt;
}

.font-center {
    text-align: center;
}

/* Button */
.light-button,
.dark-button {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.light-button a,
.dark-button a:hover {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0b2545;
    background-color: #eef4ed;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
}

.light-button a:hover,
.dark-button a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #eef4ed;
    background-color: #0b2545;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
}

.btn-login,
.btn-regist:hover {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    color: #eef4ed;
    background-color: #0b2545;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #eef4ed;
    display: inline-block;
}

.btn-login:hover,
.btn-regist {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    color: #0b2545;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #0b2545;
    display: inline-block;
}

/* Modals */

.modals {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modals.fade {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
    .modals.fade .modals-dialog {
        transition: none;
    }
}

.modals-title {
    width: 200px;
    margin: 0 auto;
    float: left;
    font-size: 30px;
    color: #0b2545;
    background-color: #eef4ed;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
}

.modals-button-layout {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #0b2545;
}
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i {
    font-size: 30px;
    color: #eef4ed;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo-name {
    font-size: 22px;
    color: #eef4ed;
    font-weight: 600;
}
.sidebar .nav-links {
    margin: 0;
    height: 100%;
    padding-top: 30px;
}
.sidebar .nav-links li {
    margin: 0;
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
    background: #0f325e;
}
.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #eef4ed;
    font-size: 20px;
}
.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: #eef4ed;
}
.sidebar .nav-links li .sub-menu {
    margin: 0;
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #0f325e;
    display: none;
}
.sidebar .nav-links li .sub-menu a {
    color: #eef4ed;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}
.sidebar.close {
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}
.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}
.sidebar .nav-links li .sub-menu .link-name {
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link-name {
    font-size: 10px;
    opacity: 1;
}
.home-section {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
}
.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: black;
    font-size: 35px;
}
.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
    color: black;
}
.home-section .home-content .col-4,
.home-section .home-content .col-4 a {
    color: black;
    align-items: flex-end;
    text-align: right;
    display: flex;
}
/* Custom table styles */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
}

.img-thumbnail {
    max-width: 200px;
}

/* Additional styles for responsiveness */
@media (max-width: 767px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
} /* Color */
.main-color {
    background-color: #eef4ed;
}

.color-dark {
    background-color: #0b2545;
}

/* Font */
.header-font {
    font-family: "Righteous", cursive;
    color: #eef4ed;
    font-size: 40pt;
}

.font {
    font-family: "Righteous", cursive;
    color: #eef4ed;
}

.upper-font a {
    text-transform: uppercase;
}

.bold-font a {
    font-weight: bold;
}

.dark-font {
    font-family: "Righteous", cursive;
    color: #0b2545;
}

.dark-font h3 {
    font-family: "Righteous", cursive;
    color: #0b2545;
    font-size: 30pt;
}

.font-center {
    text-align: center;
}

/* Button */
.light-button,
.dark-button {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.red-button {
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.red-button a{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #eef4ed;
    background-color: #F05454;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    margin-top: 50px;
    border: 2px solid #F05454;
    display: inline-block;
}

.red-button a:hover{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #eef4ed;
    background-color: transparent;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    margin-top: 50px;
    border: 2px solid #eef4ed;
    display: inline-block;
}

.light-button a,
.dark-button a:hover {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0b2545;
    background-color: #eef4ed;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
    border: 2px solid #0b2545;
    display: inline-block;
}

.light-button a:hover,
.dark-button a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #eef4ed;
    background-color: #0b2545;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
}

.btn-login,
.btn-regist:hover {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    color: #eef4ed;
    background-color: #0b2545;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #eef4ed;
    display: inline-block;
}

.btn-login:hover,
.btn-regist {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    color: #0b2545;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #0b2545;
    display: inline-block;
}

/* Modals */

.modals {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modals.fade {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
    .modals.fade .modals-dialog {
        transition: none;
    }
}

.modals-title {
    width: 200px;
    margin: 0 auto;
    float: left;
    font-size: 30px;
    color: #0b2545;
    background-color: #eef4ed;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
}

.modals-button-layout {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #0b2545;
    z-index: 100;
    transition: all 0.56 ease;
}
.sidebar.close {
    width: 78px;
}
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i {
    font-size: 30px;
    color: #eef4ed;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo-name {
    font-size: 22px;
    color: #eef4ed;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links {
    margin: 0;
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-links {
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}
.sidebar .nav-links li {
    margin: 0;
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
    background: #13315c;
}
.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .icon-link {
    display: block;
}
.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #eef4ed;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
    display: none;
}
.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: #eef4ed;
    transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link-name {
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
    margin: 0;
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #0f325e;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}
.sidebar .nav-links li .sub-menu a {
    color: #eef4ed;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link-name {
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu .blank {
    top: 50%;
    transform: translateY(-50%);
}
.home-section {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    padding: 12px;
}
.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}
.home-content {
    height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 240px;
    }
    .sidebar.close {
        width: 78px;
    }
    .sidebar .profile-details {
        width: 240px;
    }
    .sidebar.close .profile-details {
        background: none;
    }
    .sidebar.close .profile-details {
        width: 78px;
    }
    .home-section {
        left: 240px;
        width: calc(100% - 240px);
    }
    .sidebar.close ~ .home-section {
        left: 78px;
        width: calc(100% - 78px);
    }
}

.profile-container .header-font {
    color: #0b2545;
}

.profile-container {
    margin: 10px;
    padding: 20px;
    background: #eef4ed;
    border-radius: 10px;
}

.profile-container .row i {
    font-size: 30px;
    color: black;
    height: 76px;
    width: 100%;
    min-width: 78px;
    text-align: right;
    line-height: 50px;
    padding-top: 15px;
}

.profile-form.read {
    display: none;
}

.edit-form.hide {
    display: none;
}

.card-deck {
    width: 100%;
    overflow: auto;
}
.card.card-concert {
    border-radius: 5px;
    margin: 10px;
    width: 280px;
    max-width: 25%;
    min-height: 300px;
    overflow: auto;
}
.card.card-concert .card-img-top {
    align-self: center;
    border-radius: 10px;
    padding: 5px;
    max-width: 240px;
}

.form-container {
    margin: 10px;
    padding: 20px;
    background: #eef4ed;
    border-radius: 10px;
}

.detail-container {
    margin: 10px;
    padding: 20px;
    background: #eef4ed;
    border-radius: 10px;
}

.detail-image {
    max-width: 100%;
    background: black;
    max-height: 300px;
}


.right-align{
    margin: 0 25px;
}